@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

*{
  font-family: "Poppins", sans-serif;
}

table {
  border-collapse: collapse; /* To ensure clean table borders */
}

td, th {
  border: 2.4px solid #03045e; /* Adjust border style and color as needed */
  color: #03045e;
  padding: 4px;
}

td{
  font-size: 0.8rem;
  height: 127px;
}

.table{
  background-color: #00b4d8;
}

.edit{
  border: none;
  width: 180px;
  height: 127px;
}

.editAdd{
  height: 25px;
}

#edit, #delete, #save, #cancel, #editAdd{
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #023e8a;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #caf0f8;
  border-radius: 0.4rem;
  width: 8rem;
  height: 2.4rem;
  font-size: 1rem;
}

@media (max-width: 678px){
  
  #save, #cancel, #editAdd{
    width: 24rem ;
    height: 8rem;
    border-radius: 2rem;
    font-size: 3rem
  }
}